<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Great Food Comes First <br>
        Every day, more than 11 million guests visit our website to order their favorite foods around the world.  <br>
        And they do so because our restaurants are known for serving high-quality, great-tasting, and affordable food.
        Founded in 1954,our commitment to premium ingredients, signature recipes, and family-friendly dining experiences is what has defined our brand <br>
        for more than 50 successful years.
       
       
      
    </p>

</div>