<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Great Food Comes First <br>
        Every day, more than 11 million guests visit our website to order their favorite foods around all of Ethiopia.  <br>
        And they do so because we are known for our unbelievably amazing service,free delivery,great-tasting and affordable food. <br>
        Founded in 2000,our commitment to premium ingredients, signature recipes, and family-friendly dining experiences is what has defined our brand <br>
        for more than 24 successful years.
       
       
      
    </p>

</div>